<img src="https://img.plasmic.app/img-optimizer/v1/img/8cfd7fa09b158cef70ba62d6a068a4b5.png?q=75&f=webp"
     alt="Kariba logo"
     style="background-color: black; float: left; margin-right: 10px;" />
# Kariba Labs: Protocol Lab 2023 Ecosystem Analysis

### **Goals and Objectives**
#### Ecosystem-level (Collection)
* [ ] Describe ecosystem-wide dynamics in user contribution
* [ ] Describe ecosystem-wide dynamics in project impact
* [ ] Generate standardized metrics to benchmark users and projects
#### Project (Project/Artifact)
* [ ] Understand churn in projects on a monthly and weekly basis
* [ ]  Create is distance metric for projects based on distributions. Answer the question: which project's are surprisingly more or less performance?
* [ ] Understand project summary stats: users, event-types, frequency
#### User-level
* [ ] Provide a metric of user's contribution to project and ecosystem
* [ ] Norm and baseline user contribution's base on project-level and ecosystem-level benchmarch
* [ ] Describe a user's project-specific and ecosystem-wide criticality: different projects and important of contributions to different projects.

In [1]:
from datetime import datetime
import pandas as pd
import json
import math
import numpy as np
from database import KaribaDB

In [3]:
db = KaribaDB()

postgresql://innocent:Moniegram2021--@localhost/oso

"""events_by_project"""
"""SELECT 
        aa.artifact_latest_name as from_name, 
        aa.artifact_type as from_type, 
        d 
    FROM (SELECT 
            a.artifact_latest_name as to_name, 
            a.artifact_type as to_type, 
            a.artifact_id, 
            e.to_id, 
            e.from_id, 
            a.artifact_latest_name, 
            a.artifact_type, 
            e 
            FROM (SELECT * FROM `oso-production.opensource_observer.int_events_to_collection` 
            WHERE collection_id="WBm_yvkXBKWiNtdz_8n4w6nkLiWND54MgcWB7TwICy8=" AND EXTRACT(ISOYEAR FROM time) = 2023) AS e
    LEFT JOIN `oso-production`.`opensource_observer`.`artifacts` AS a
        ON a.artifact_id = e.to_id) AS d
    LEFT JOIN `oso-production`.`opensource_observer`.`artifacts` AS aa
        ON aa.artifact_id = d.from_id LIMIT 30000
"""

## **Task 1**: The number of new users (denoted by ach of devs and dependent repos) + growth rate

## with **SQL**

In [2]:
# SQL
sample = """select *, 
            extract(ISOYEAR from time) as year, 
            extract(WEEK from time) as week, 
            extract(DAY from time) as day, 
            extract(MONTH from time) as month 
        from int_events"""

In [4]:
compose = lambda a, b, c, d: """select {} from ({}) as {} {}""".format(c, a, b, d)

In [5]:
# Aggregators 1: Grouping and aggregating the contributors
grouped = """group by to_name, year, month order by to_name, year, month"""
aggregators = lambda l: """to_name, year, month, string_agg(distinct({label}.from_name), ', ') as contributors""".format(label=l)
grouping = compose(sample, "sample", aggregators("sample"), grouped)

# Aggregators 2: Lagging the contributors and the month
lagged_aggregator = lambda l: """{label}.*, LAG({label}.month, 1) OVER (PARTITION BY {label}.to_name) lag_month, LAG({label}.contributors, 1) OVER (PARTITION BY {label}.to_name) lag_contributors""".format(label=l)
grouped = compose(grouping, "grouping", lagged_aggregator("grouping"),  "")

In [6]:
# Aggregation 3: Aggregatingt he contributions over the partitions
partitioned_agg = lambda l: """{label}.*, string_agg({label}.contributors, ', ') OVER (PARTITION BY {label}.to_name, {label}.year, {label}.month ORDER BY {label}.month ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS cum_contributors""".format(label=l)
cum_grouped = compose(grouped, "grouped", partitioned_agg("grouped"),  "")

# Calulating the users gained and lost
# Aggregation 4: unnest and getting the gained 
agg = lambda l: """{label}.to_name, {label}.year, {label}.month, unnest(string_to_array({label}.contributors, ', ')) as contributors, {label}.lag_contributors""".format(label=l)
unnested_group = compose(cum_grouped, "cum_grouped", agg("cum_grouped"),  "")

case =  lambda l, f, s, n : """{label}.*, (CASE WHEN strpos({label}.{first}, {label}.{second}) > 0 THEN 0 ELSE 1 END) as {name}""".format(label = l, first=f, second=s, name=n)
data_with_gained = compose(unnested_group, "unnested_group", case("unnested_group", "lag_contributors", "contributors", "gained"), "")
##### go through and replace all number greater than 1 with 1

# Aggregation 5: collaspse the preivous unnested "contributors" and unnesting lag_contributors
regroup = lambda l: """GROUP BY to_name, year, lag_contributors, month order by to_name, year, month""".format(label=l)
regroupinf_agg = lambda l: """to_name, year, month, coalesce(lag_contributors, '') as lag_contributors, coalesce(sum(gained), 0) as gained, string_agg(contributors, ', ') as contributors""".format(label=l)
regrouped = compose(data_with_gained , "data_with_gained", regroupinf_agg("data_with_gained"), regroup("data_with_gained"))

# Aggregation 6: unnest and getting the gained 
second_agg = lambda l: """{label}.to_name, {label}.year, {label}.month, unnest(string_to_array({label}.lag_contributors, ', ')) as lag_contributors, {label}.contributors, {label}.gained""".format(label=l)
second_unnested_group = compose(regrouped, "regrouped", second_agg("regrouped"),  "")
data_with_lost = compose(second_unnested_group, "second_unnested_group", case("second_unnested_group", "contributors", "lag_contributors", "lost"), "")

# Aggregation 7: collaspse the preivous unnested "contributors" and unnesting lag_contributors
second_regroup = lambda l: """GROUP BY to_name, year, contributors, month order by to_name, year, month""".format(label=l)
second_regroupinf_agg = lambda l: """to_name, year, month, string_agg({label}.contributors, ', ') OVER (PARTITION BY {label}.to_name, {label}.year ORDER BY {label}.month ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS cum_contributors, coalesce(contributors, '') as contributors, coalesce(sum(lost), 0) as lost, max(gained) as gained, string_agg(lag_contributors, ', ') as lag_contributors""".format(label=l)
second_regrouped = compose(data_with_lost , "data_with_lost", second_regroupinf_agg("data_with_lost"), second_regroup("data_with_lost"))


# Aggregation 8: Calculating Churn 
db.execute(second_regrouped)
#db.execute(compose(unnested_group, "unnested_group", case("unnested_group", "contributors", "lag_contributors", "gained"), ""))

,to_name,year,month,cum_contributors,contributors,lost,gained,lag_contributors
0,alto-io/ora-unity-renderer,2023.0,5.0,kevin-altitude,kevin-altitude,0,0,kevin-altitude
1,celestiaorg/.github,2023.0,8.0,rootulp,rootulp,0,0,rootulp
2,celestiaorg/.github,2023.0,10.0,"rootulp, rootulp",rootulp,0,0,rootulp
3,celestiaorg/.github,2023.0,11.0,"rootulp, rootulp, rootulp",rootulp,0,0,rootulp
4,celestiaorg/blobstream-contracts,2023.0,9.0,"onurakpolat, rootulp","onurakpolat, rootulp",0,1,rootulp
...,...,...,...,...,...,...,...,...
1852,zondax/ledger-statemine,2023.0,9.0,bee344,bee344,0,0,bee344
1853,zondax/ledger-zcash,2023.0,5.0,idatucker,idatucker,0,0,idatucker
1854,zondax/ledger-zcash,2023.0,12.0,"idatucker, ainhoa-a",ainhoa-a,1,1,idatucker
1855,zondax/ledger-zcash-rs,2023.0,11.0,idatucker,idatucker,0,0,idatucker
1856,zondax/namadexer,2023.0,12.0,ainhoa-a,ainhoa-a,0,0,ainhoa-a

## with **Pandas**

In [ ]:
# Pandas
date_format = '%Y-%m-%d %H:%M:%S'
#sample.time = sample.time.apply(lambda x: datetime.strptime(x, date_format))
sample['week'] = sample.time.apply(lambda x: x.strftime("%V"))
sample['day'] = sample.time.apply(lambda x: x.strftime("%d"))
sample['year'] = sample.time.apply(lambda x: x.strftime("%Y"))
sample['month'] = sample.time.apply(lambda x: x.strftime("%m"))

In [ ]:
x = db.execute(sample).groupby(['to_name', 'year', 'month']).agg({'from_name': list}).reset_index().sort_values(by=['to_name', 'year', 'month']).rename({"from_name": "contributors"}, axis="columns")
x['contributors'] = x['contributors'].apply(lambda x: set(x))
#x['cum_actors'] = x.groupby(['repo_id', 'year'])['actors'].transform(f)
x[["lag_month", "lag_contributors"]] = x.groupby('to_name')[["month", 'contributors']].shift(1)
f = lambda x: [x[:(i+1)].explode().values for i in range(len(x))]
x['cum_contributors'] = x.groupby(['to_name', 'year'])['contributors'].transform(f)

In [ ]:
clean = x[(pd.isna(x['lag_month']) == False) & (pd.isna(x['lag_contributors']) == False)]
clean['contributors-gained'] = clean.apply(lambda x: set(x.contributors) - set(x.lag_contributors), axis=1)
clean['contributors-lost'] = clean.apply(lambda x: set(x.lag_contributors) - set(x.contributors), axis=1)
clean['contributors_count'] = clean.contributors.apply(lambda x: len(x))
clean['lag_contributors_count'] = clean.lag_contributors.apply(lambda x: len(x))
clean['contributors_gained_count'] = clean['contributors-gained'].apply(lambda x: len(x))
clean['contributors_lost_count'] = clean['contributors-lost'].apply(lambda x: len(x))
clean['cum_contributors_count'] = clean['cum_contributors'].apply(lambda x: len(x))

In [ ]:
churn = lambda x: (x['contributors_lost_count'] / x['cum_contributors_count'])* 100.0
churn_total = lambda x: ( (x['cum_contributors_count'] -  x['contributors_count'])/ x['cum_contributors_count'])* 100.0

In [ ]:
clean['churn-prior'] = clean.apply(lambda x: churn(x), axis=1)
clean['churn-total'] = clean.apply(lambda x: churn_total(x), axis=1)

In [ ]:
metrics = clean[['to_name', 'month', 'year', 'churn-prior', 'churn-total', 'cum_contributors_count']].sort_values(by=['churn-total'], ascending=False)
metrics[['org', 'project']] = metrics['to_name'].str.split("/", expand=True)

In [ ]:
metrics_by_project = metrics.groupby("to_name").agg({"churn-prior": np.mean, "churn-total": np.mean, "cum_contributors_count": np.max}).sort_values(by=['churn-prior'], ascending=False)
metrics_by_project.sort_values(by=['churn-total'], ascending=False)

In [ ]:
metrics_by_project.sort_values(by=['churn-total'], ascending=False)

In [ ]:
metrics_by_org = metrics_by_project.reset_index()
metrics_by_org[['org', 'project']] = metrics_by_org['to_name'].str.split("/", expand=True)
metrics_by_org = metrics_by_org.groupby("org").agg({"churn-prior": np.mean, "churn-total": np.mean, "cum_contributors_count": np.sum}).sort_values(by=['churn-total'], ascending=False)
metrics_by_org.sort_values(by=['cum_contributors_count'], ascending=False)

## **Task 2**: The number of bounced users (devs or dependent repos - i.e. those who contribute for 1 week, then stop)

In [ ]:
#For each repo, group contirbutions by user: for each week get # of contributions or indicator is any contribution
# for each repo, for each user: get sum of contributions and get culumative sum
# if sume is greater than 1 then user is not bounced
# create column indicating user bounced
# create data indicator total number of bounced users
# rank repos by # of bounced users 
# wanna do this my month and culumlative. So over a given period is a user bounced
# plot bounced users over time

In [ ]:
user_contributions = sample.groupby(['from_name', 'to_name', 'week']).agg({"d.e.to_id" : "count"}).sort_values(by="d.e.to_id", ascending=False)
user_contributions = user_contributions.reset_index()
user_contributions['week'] = user_contributions['week'].astype('int64')
user_contributions['merged_name'] = user_contributions.apply(lambda x: "$".join([x['from_name'], x['to_name']]), axis=1)
non_dup = user_contributions["merged_name"].drop_duplicates()

idx = pd.MultiIndex.from_product([non_dup.to_numpy(), np.arange(1, 53, 1)], names=["merged_name", "week"])

In [ ]:
#mg = pd.merge(test, week, how="outer", on="week")

values = {"from_name": "autonome", "to_name": "ipfs-shipyard/ipfs-thing-2023"}

values
new_index = pd.Index(np.arange(1, 52,1), name="week")
hu = test.set_index("week").reindex(new_index).reset_index()
hu.from_name.fillna(hu.from_name.mode().iloc[0], inplace=True)
hu.to_name.fillna(hu.to_name.mode().iloc[0], inplace=True)
hu['d.e.to_id'].fillna(0.0, inplace=True)

In [ ]:
full_user_contribution = user_contributions[["merged_name", 'week', 'd.e.to_id']].set_index(["merged_name", 'week']).reindex(idx).reset_index()
full_user_contribution['d.e.to_id'].fillna(0, inplace=True)
full_user_contribution[['from_name', "to_name"]] = full_user_contribution.merged_name.str.split("$", expand=True)

In [ ]:
full_user_contribution

In [ ]:
## HELPERS

In [ ]:
#1. What are potential things to do

In [ ]:
unfold =  lambda data, y: data.apply(lambda x: ", ".join(replace_na(json.loads(x.replace("\n", "").replace("  ", ""))[y].values())))
expand = lambda x: x.str.split(',', expand=True)
replace_na = lambda d: list(map(lambda x: "null" if x == None else x, d))